.nav-item {
  /* background-color: pink; */
  padding-left: 10px;
  padding-right: 10px;
}
.active {
  color: #002455 !important;
}
/* .navbar-brand {
  background-color: pink;
} */
.navbar-logo {
  height: 40px;
  width: auto;
}

.hero-button {
  /* // shorthand for pdding */
  padding: 10px 30px;
  color: white;
  background-color: #5533c7;
  border-radius: 5px;
}

.hero-button:hover {
  color: #5533c7;
  background-color: white;
  border: 1px solid #5533c7;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
}
.title {
  font-weight: 700;
  font-size: 55px;
}
.common-margin {
  margin-top: 100px;
}
.hero-img {
  width: 90%;
  margin-top: 50px;
}

#hero-section {
  background-color: #f5fcff;
}
.navbar-btn {
  padding: 10px 30px;
  color: #5533c7;
  background-color: white;
  border: 1px solid #5533c7;
  border-radius: 5px;
}
.navbar-btn:hover {
  color: white;
  background-color: #5533c7;
}
